h1
{
text-align: center;
font-size: 70px;
font-weight: 600;
}


body
{
 background-image: url("Background.jpg");
min-height: 325vh;
max-width: 800px;
margin: 0 auto;
border: 3px solid black;
padding: 10px;
}

.pura-vida
{
text-align: center;


}
img
{
display: block;
align-content: center;
margin: auto;
width: 700px;
height: 500px;

}
h2
{
text-align: center;
font-size: 20px;
font-weight: 600;
}

#hacked

{
 size: 20px;
 color: red;
}
